header {
    background-color: $tertiary;
    margin-bottom: 90px;
    display: flex;
    flex-wrap: wrap;

    .headerImgContainer {
        width: 45%;
    }

    .headerContent {
        width: 55%;
        color: $primary;
        display: flex;
        align-items: center;

        .contentContainer {
            width: 65%;
            margin: 0 auto;
            
        }
    }
}