header {
    background-color: $tertiary;
    margin-bottom: 90px;
    display: flex;
    flex-wrap: wrap;

    .headerImgContainer {
        width: 45%;
    }

    .headerContent {
        width: 55%;
        color: $primary;
        display: flex;
        align-items: center;

        .contentContainer {
            width: 65%;
            margin: 0 auto;
            
        }
    }
}

// Contact page header 
.contactHeader {
    background-color: $quaternary;
    padding-top: 120px;
    text-align: center;

    .wrapper {
        padding-bottom: 40px;
    }
}

// Wave design
.contactHeader::after {
    content: "";
    width: 100%;
    height: 150px;
    background-image: url(../assets/wave.svg);
    background-repeat: no-repeat;
    background-size: 100% 150px;
}