@media (max-width: 1000px) {
    header {
        .headerImgContainer {
            img {
                height: 100vh;
                object-fit: cover;
            }
        }
    }

    .categoryGallery {
        .items a {
            padding: 25px;
        }
    }

    footer {
        .footerFlex {
            flex-direction: column;
            align-items: center;
            
            .logo {
                margin-bottom: 30px;
            }

            .footerNav {
                width: 80%;
            }
        }
    }
}

@media (max-width: 800px) {
    header {
        flex-direction: column;
        .headerImgContainer {
            width: 100%;
            img {
                max-height: 350px;
                width: 100%;
            }
        }
        .headerContent {
            width: 100%;
            padding: 40px 0;
        }
    }
}

@media (max-width: 500px) {
    .navBar {
        .wrapper {
            flex-direction: column;
            align-items: center;
        }

        .logo {
            margin: 20px 0;
        }
    }

    h3 {
        font-size: 2.2rem;
    }

    .categoryGallery {
        .items {
            width: 100%;
            a {
                padding: 30px;
                margin: 40px 0 0;
            }
        }
    }

    footer {
        .footerNav {
            flex-direction: column;
            align-items: center;
            text-align: center;

            ul {
                margin-bottom: 24px;
            }
        }
    }
}