.categories {
    margin-bottom: 90px;
}

.categoryGallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;

    .items {
        width: 40%;

        a {
        padding: 25px;
        margin: 50px 25px 25px;
        border-radius: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            border-radius: 10%;
            width: 100%;
            margin-bottom: 20px;
        }

        transition: 0.2s ease;

        &:hover,
        &:focus {
            transform: scale(0.95);
        }

        }
        
    }

    .item1 a {
        background-color: $quinary;
    }

    .item2 a {
        background-color: $secondary;
    }

    .item3 a {
        background-color: $tertiary;
    }

    .item4 a {
        background-color: $quaternary;
    }
}