@import "./variables";

/* import Jakarta Sans font */
@font-face {
    font-family: "Jakarta Sans";
    src: url('../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Regular.woff'),
        url('../fonts/PlusJakarta_Sans-2.5/static/PlusJakartaSans-Regular.ttf'),
        url('../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Regular.woff2');
    font-weight: normal;
}

/* import Jakarta Sans font in bold */
@font-face {
    font-family: "Jakarta Sans";
    src: url('../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Bold.woff'),
        url('../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Bold.woff2'),
        url('../fonts/PlusJakarta_Sans-2.5/static/PlusJakartaSans-Bold.ttf');
    font-weight: bold;
}

/* import Young Serif font */
@font-face {
    font-family: "Young Serif";
    src: url('../fonts/youngserif/YoungSerif-Regular.otf');
}