/* site fonts */
$headingFont: "Young Serif";
$bodyFont: "Jakarta Sans";

/* site colours */
$primary: #084b6d;
$secondary: #f4fcff;
$tertiary: #f8fbf3;
$quaternary: #fff5f5;
$quinary: #ffd698;
$solidWhite: #fff;