// COLOURS:
// primary text (blue): #084b6d;
// secondary (light blue): #f4fcff;
// tertiary (green): #f8fbf3; 
// quaternary (pink): #fff5f5; 
// quinary (orange): #ffd698;
// pastel blue: #d3f0f9 
// white: #fff; 



// HEADINGS:
// h1: 28px;
// h2: 40px;
// h3: 54px;
// h4: 34px;
// h5: 14px;
