html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* site fonts */
/* site colours */
/* import Jakarta Sans font */
@font-face {
  font-family: "Jakarta Sans";
  src: url("../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Regular.woff"), url("../fonts/PlusJakarta_Sans-2.5/static/PlusJakartaSans-Regular.ttf"), url("../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Regular.woff2");
  font-weight: normal;
}
/* import Jakarta Sans font in bold */
@font-face {
  font-family: "Jakarta Sans";
  src: url("../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Bold.woff"), url("../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Bold.woff2"), url("../fonts/PlusJakarta_Sans-2.5/static/PlusJakartaSans-Bold.ttf");
  font-weight: bold;
}
/* import Young Serif font */
@font-face {
  font-family: "Young Serif";
  src: url("../fonts/youngserif/YoungSerif-Regular.otf");
}
html {
  font-size: 125%;
}

body {
  font-family: "Jakarta Sans";
  color: #084b6d;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, blockquote {
  font-family: "Young Serif";
  margin: 0;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 18px;
}

h3 {
  font-size: 2.7rem;
  line-height: 3rem;
  margin-bottom: 24px;
}

h4 {
  font-size: 1.7rem;
  line-height: 2rem;
  margin-bottom: 18px;
}

h5 {
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 0 0 24px 0;
}

p {
  line-height: 1.5rem;
  margin: 0 0 30px 0;
}
p.smallCopy {
  font-size: 0.6rem;
  line-height: 1.2rem;
  font-weight: bold;
  margin: 0;
}

ul, li, a, input {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wrapper {
  width: 90%;
  max-width: 1260px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

button {
  color: #084b6d;
  background-color: transparent;
  padding: 18px 36px;
  border: 2px solid #084b6d;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.2rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover, button:focus {
  background-color: #084b6d;
  color: #fff;
}
button.secondary {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  padding: 8px 12px;
}
button.secondary:hover, button.secondary:focus {
  background-color: #fff;
  color: #084b6d;
}
button.menuIcon {
  border: none;
  padding: 0;
  display: inherit;
}
button.menuIcon:hover, button.menuIcon:focus {
  background-color: transparent;
}

.solid {
  color: #fff;
  background-color: #084b6d;
  padding: 18px 36px;
  border: 2px solid #084b6d;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.2rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.solid:hover, .solidfocus {
  color: #084b6d;
  background-color: #fff;
}

a.button {
  color: #084b6d;
  background: transparent;
  padding: 18px 36px;
  border: 2px solid #084b6d;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.2rem;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a.button:hover, a.button:focus {
  background-color: #084b6d;
  color: #fff;
}

.skipLink {
  font-size: 1rem;
  padding: 10px;
  background-color: #fff;
  color: #084b6d;
  position: absolute;
  top: 0;
  z-index: 999;
  text-align: center;
  width: 100%;
  left: -100%;
}

.skipLink:focus, .skipLink:active {
  left: 0;
}

.navBar {
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid rgba(8, 75, 109, 0.08);
  background-color: #fff;
}
.navBar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.searchCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.counter p {
  background-color: #084b6d;
  color: #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
}

.slideOutNav {
  height: 100vh;
  z-index: 20;
  background-color: #084b6d;
  color: #fff;
  width: 100%;
  max-width: 500px;
  position: fixed;
  top: 0;
  left: -500px;
  padding: 35px;
}

.btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer {
  background-color: #084b6d;
  color: #fff;
  padding: 90px 0 50px;
}
footer .footerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footerNav a {
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}
footer .footerNav a:hover, footer .footerNav a:focus {
  color: white;
}

header {
  background-color: #f8fbf3;
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header .headerImgContainer {
  width: 45%;
}
header .headerContent {
  width: 55%;
  color: #084b6d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .headerContent .contentContainer {
  width: 65%;
  margin: 0 auto;
}

.categories {
  margin-bottom: 90px;
}

.categoryGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  width: 100%;
}
.categoryGallery .items {
  width: 40%;
}
.categoryGallery .items a {
  padding: 25px;
  margin: 50px 25px 25px;
  border-radius: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.categoryGallery .items a img {
  border-radius: 10%;
  width: 100%;
  margin-bottom: 20px;
}
.categoryGallery .items a:hover, .categoryGallery .items a:focus {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.categoryGallery .item1 a {
  background-color: #ffd698;
}
.categoryGallery .item2 a {
  background-color: #f4fcff;
}
.categoryGallery .item3 a {
  background-color: #f8fbf3;
}
.categoryGallery .item4 a {
  background-color: #fff5f5;
}

.play {
  background-image: url("../assets/background-image.jpg");
  background-position: center;
  background-size: cover;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.play .playContainer {
  background-color: #fff;
  border: 24px solid #f4fcff;
  max-width: 650px;
  padding: 70px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1000px) {
  header .headerImgContainer img {
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 800px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .headerImgContainer {
    width: 100%;
  }
  header .headerImgContainer img {
    max-height: 350px;
    width: 100%;
  }
  header .headerContent {
    width: 100%;
    padding: 40px 0;
  }
}
@media (max-width: 500px) {
  h3 {
    font-size: 2.2rem;
  }
}